<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <style>
        body{
            background-color: #d6dbdf ;
        }

        .text-orange-300 {
          color: #fdba74; 
        }
  
  
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg " style="background-color:#5F9EA0;">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}"><strong class="text-white fs-1" style="margin-right:100px">Take<span class="text-orange-300">Book</span> </strong> </a>
        </div>
      </nav> 
        
       <div class="container-fluid text-center">
            {% if messages %}
            <div class="messages text-center" >
              {% for message in messages %}
                <h4><strong>{{ message }}</strong></h4>
              {% endfor %}
            </div><br><br>
            {% endif %}
       </div>
        
        
        <div class="container-fluid">
            <div class="row">
               <div class="col-md-3"></div>
               <div class="col-md-6">
                  <div class="container-fluid " style="background-color: #e3f2fd;">
                  <h3>Add Books</h3><br>
                  <form method="post" action="/add_book/" >{% csrf_token %}
                     <input type="text" name="title" placeholder="Enter Book Title" required><br><br>
                     <input type="text" placeholder="Enter Author Name" name="author" required><br><br>
                     <input type="text" placeholder="Genre" name="genre" required><br><br>
                     <select name="availability" id="availability">
                      <option value="0">Available</option>
                      <option value="1">Not Available</option>
                     </select><br><br>
                     <button type="submit" class="btn btn-success">Save Changes</button>

                  </form>
                  <br><a href="{% url 'booklist' username=user.username %}" class="btn btn-primary" >Back to booklist</a><br><br>
                  </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
</body>
</html>
