<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="row">
                {% for author in authors %}
                <div class="col-md-4">
                <div class="container-fluid" style="background-color: #aab7b8">
                    <i><h3 class="card-text">{{author.name}}</h3></i>
                    <a href="#" class="btn btn-primary" style="color:yellow">View all Books</a>
                </div><br>
                </div>
                {% endfor %}
              </div>
            </div>
        </div>
    </div> 
            
</body>
</html>