<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Online Book Sharing System</title>

    <style>
       body{
        background-color: #aab7b8;
       }

        .container-fluid {
          text-align: justify;
      }
      .text
      {
        text-align: justify;
      }
       
    </style>
</head>
<body>
<div class="container-fluid">
<nav class="navbar navbar-expand-lg shadow-lg " style="background-color: #5F9EA0;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="{% url 'home' %}"><strong class="navbar-brand"  style="color:#273746;">Online Book Sharing System</strong></a>
      </div>
      <ul class="nav navbar-nav">
          <li><i class="fas fa-book-reader" style="color:black;margin:24px 0px 0px 60px"></i></li>
          <li><i><a href={% url 'readers' %} class="btn " style="color:black;margin:14px 0px 0px -3px">Reader</a></i></li>
  
          <li><i class="fas fa-book-open" style="color:black;margin:24px 0px 0px 60px"></i></li>
          <li><i><a href={% url 'books' %} class="btn " style="color:black;margin:14px 0px 0px -3px">Books</a></i></li>

          <li><i class="fas fa-address-card" style="color:black;margin:24px 0px 0px 60px"></i></li>
          <li><i><a href={% url 'about' %} class="btn " style="color:black;margin:14px 0px 0px -3px">About Us</a></i></li>

          {% if user.is_authenticated %}
          
          <li><i class="fas fa-user" style="color:black;margin:24px 0px 0px 60px"></i></li>
          <li><i><a href={% url 'profile' username=user.username %} class="btn" style="color:black;margin:14px 0px 0px -3px">Profile</a></i></li>

          <li><a href={% url 'logout' %} class="btn btn-danger navbar-btn" style="color:black;margin:3px 15px 3px 150px">Log out</a></li>

          {% else %}
          <li><i class="fas fa-sign-in-alt" style="color:black;margin:24px 0px 0px 60px"></i></li>
          <li class="active"><i><a href={% url 'login' %} class="btn" style="color:black;margin:14px 0px 0px -3px">sign in</a></i></li>
          {% endif %}
        
      </ul>  
    </div>
  </nav>
</div>




      <div class="container-fluid" style="padding:24px 0px 24px 0px;" >

        <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="container-fluid shadow-sm" style="background-color: #d6dbdf  ">
            <h3 class="text-center" style="color:  #212f3d "><strong>List of books </strong></h3><br>
              <nav class="navbar  navbar-expand-lg " style="background-color: #666">
                <div class="search-container">
                 <form method="post" action="{% url 'books' %}" enctype="multipart/form-data"> {% csrf_token %}
                    <input type="text" placeholder="Search.." name="title">
                    <button type="submit"><i class="fa fa-search"></i></button>
                 </form>
                </div>
              </nav>
    
              {% if messages %}
              <div class="messages text-center" style="background-color:">
                {% for message in messages %}
                    <h4 class="text-warning">{{ message }}</h4>
                {% endfor %}
              </div>
              {% endif %}
        
            <div class="row">
              {% for book in books %}
               <div class="col-sm-12 col-md-6 col-lg-4 shadow-lg">
               <div class="container-fluid" style="background-color: #aab7b8; padding:8px;margin:4px">
                  <i><h4 class="card-text"><strong>{{book.title}}</strong></h4></i>
                  <h5 class="card-text">{{book.author}}</h5>
                  <h5>genre: {{ book.genre }}</h5>
                  <a href={% url 'profile' username=book.owner %} class="btn btn-primary" style="color:yellow;margin:3px">Owner's Profile</a>
            
                  {% if user.is_authenticated and user != book.owner %}
                  {% if book.availability == 2 %}
                  <a href="#"><button class="text-danger">Not Available</button></a>
                  {% else %}
                  <a href="" onclick="showRequestForm({{book.id}});return false"><button class="text-success">available</button></a>
                      <div class="request-form d-none"  id="request-form-{{ book.id }}">
                        <form method="post" action="{% url 'book_request' book_id=book.id %}">
                          {% csrf_token %}
                          <label >Return Date:</label>
                          <input type="date" id="return-date-{{ book.id }}" name="schedule" required>
                          <button type="submit" class="btn btn-primary">Request</button>
                        </form>
                      </div>
                  {% endif %}
                  {% endif %}
                </div><br>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
      
  
  <script>
    function showRequestForm(bookId)
    {
      const form=document.getElementById(`request-form-${ bookId }`);
      form.classList.toggle('d-none');
    }
  </script>
    
</body>
</html> 