<!<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      
      table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center; 
    }

    body{
      background-color:  #d6dbdf  ;
    }

    .text-orange-300 {
      color: #fdba74; 
    }
    </style>
</head>

  <body>
  <nav class="navbar navbar-expand-lg " style="background-color:#5F9EA0;">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}"><strong class="text-white fs-1" style="margin:0px 100px 0px 0px">Take<span class="text-orange-300">Book</span> </strong> </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="nav-item"><i><a href={% url 'profile' username=user2.username %} class="btn " style="color:black;margin:8px 0px 0px 50px">profile</a></i></li>

          <li class="nav-item"><i><a href={% url 'booklist' username=user2.username %} class="btn " style="color:white;margin:8px 0px 0px 50px">Booklist</a></i></li>
        
          {% if user2.username == request.user.username %}
          <li class="nav-item"><i><a href={% url 'see_book_request' %} class="btn " style="color:black;margin:8px 0px 0px 50px">Book requests</a></i></li>
        
          <li class="nav-item"><i><a href={% url 'borrowing_history' %} class="btn " style="color:black;margin:8px 0px 0px 50px">Borrowing history</a></i></li>

          <li><a href={% url 'logout' %} class="btn btn-danger navbar-btn" style="color:black;margin:0px 20px 0px 100px">Log out</a></li>
          {% endif %}
        </ul> 
    </nav> 
       
         
    <div class="container-fluid text-center">
      {% if messages %}
      <div class="messages text-center" >
        {% for message in messages %}
          <h4><strong>{{ message }}</strong></h4>
        {% endfor %}
      </div><br><br>
      {% endif %}
    </div>
        
   
    <div class="container-fluid">
        <div class-"row">
           <div class="col-md-2">
           </div>
           <div class="col-md-7">
             <div class="container-fluid" style="background-color: #1111">
                <h3 class="text-center"><strong>Booklist for {{ user2.username }}</strong></h3><br>
                <ul>
                <table >
                    <tr >
                      <th>Book ID</th><th>Book Name </th> <th> Author Name </th>
                      {% if user.is_authenticated %}
                       <th>status</th>
                       {% endif %}
                       <th>Genre</th>
                      {% if user == user2 %}<th>Update Books</th>{% endif %}
                      {% if user == user2 %}<th>Delete Books</th>{% endif %}
                    </tr>
                {% for book in user_booklist %}
                    <tr>
                        <td>{{book.id}}</td><td>{{ book.title }}</td><td>{{ book.author }}</td>
                        {% if user.is_authenticated %}
                        <td>
                          {% if book.availability == 2 %}
                              <button class="text-danger">Not Available</button>
                          {% else %}
                              <a href="{% url 'book_request' book_id=book.id %}"><button class="text-success">Available</button></a>
                          {% endif %}
                        </td>
                        {% endif %} 
                        <td>{{ book.genre }}</td>
                        {% if user == user2 %}
                        <td><a href={% url 'update_book' id=book.id %} class="btn btn-warning navbar-btn" style="color:black">Update Books</a></td>
                        <td><a href={% url 'delete_book' id=book.id %} class="btn btn-danger navbar-btn" style="color:black">Delete Books</a></td>
                        {% endif %}
                    </tr> 
                {% endfor %}
                </table>
                </ul>
              </div>

              
             {% if user == user2 %}
              <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #333">
                <ul class="nav navbar-nav">
                  <li><a href={% url 'add_book' %} class="btn btn-info navbar-btn" style="color:black">Add Books</a></li>
                </ul>
              </nav>
              {% endif %}
           </div>
        </div>
    </div>

</body>
</html>


