<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Online Book Sharing System</title>

    <style>
       body{
        background-color: #aab7b8;
       }

        .container-fluid {
          text-align: justify;
      }
      .text
      {
        text-align: justify;
      }
       
    </style>
</head>
<body style="background-color:#ccd1d1;">
<div class="container-fluid">
<nav class="navbar navbar-expand-lg shadow-lg " style="background-color: #5F9EA0;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="{% url 'home' %}"><strong class="navbar-brand"  style="color:#273746;">Online Book Sharing System</strong></a>
      </div>
      <ul class="nav navbar-nav">
          <li><i class="fas fa-book-reader" style="color:black;margin:24px 0px 0px 60px"></i></li>
          <li><i><a href={% url 'readers' %} class="btn " style="color:black;margin:14px 0px 0px -3px">Reader</a></i></li>
  
          <li><i class="fas fa-book-open" style="color:black;margin:24px 0px 0px 60px"></i></li>
          <li><i><a href={% url 'books' %} class="btn " style="color:black;margin:14px 0px 0px -3px">Books</a></i></li>

          <li><i class="fas fa-address-card" style="color:black;margin:24px 0px 0px 60px"></i></li>
          <li><i><a href={% url 'about' %} class="btn " style="color:black;margin:14px 0px 0px -3px">About Us</a></i></li>

          {% if request.user.is_authenticated %}
          
          <li><i class="fas fa-user" style="color:black;margin:24px 0px 0px 60px"></i></li>
          <li><i><a href={% url 'profile' username=request.user.username %} class="btn" style="color:black;margin:14px 0px 0px -3px">Profile</a></i></li>

          <li><a href={% url 'logout' %} class="btn btn-danger navbar-btn" style="color:black;margin:3px 15px 3px 150px">Log out</a></li>

          {% else %}
          <li><i class="fas fa-sign-in-alt" style="color:black;margin:24px 0px 0px 60px"></i></li>
          <li class="active"><i><a href={% url 'login' %} class="btn" style="color:black;margin:14px 0px 0px -3px">sign in</a></i></li>
          {% endif %}
        
      </ul>  
    </div>
  </nav>
</div>


  <div class="container-fluid">
    <div class-"row">
        <div class="col-md-3">
        </div>
        <div class="col-md-5">
          <div class="container-fluid shadow-sm" style="background-color:  #aab7b9;margin-top:24px">
            <h4 class="text-center" style="color: #212f3d;margin-top:24px"><strong>List of Readers </strong></h4><br>
            <ul type="fa fa-circle">
              {% for item in user %}
               <div class="container-fluid">
               <li><h4 class="hover-element btn"><a href={% url 'profile' username=item.username %} style="color: #17202a;text-decoration:none">{{ item.username }}</a></li></h4>
               {% comment %} <a href={% url 'send_message' receiver_id=item.id %}>Send Message</a> {% endcomment %}
               </div>
              {% endfor %}
            </ul>
          </div>
        </div>
    </div>
  </div>
    
    </body>
    </html>