<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Send Message to {{ receiver.username }}</h2>
    <form method="post" action="{% url 'send_message' receiver_id=receiver.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
    {% comment %} <a href="{% url 'inbox' %}">Back to Inbox</a> {% endcomment %}
</body>
</html>