<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Online Book Sharing System</title>

    <style>
       body{
        background-color: #aab7b8;
       }

        .container-fluid {
          text-align: justify;
      }
      .text
      {
        text-align: justify;
      }
  
    .text-indigo-500 {
      color: #6366f1; 
    }

  .text-orange-400 {
    color: #fb923c; 
   }

  .text-orange-300 {
    color: #fdba74; 
  }

       
    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg shadow-lg " style="background-color: #5F9EA0;">
    <di class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <strong class="text-white fs-1">Take<span class="text-orange-300">Book</span> </strong>
        </a>
      <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a href={% url 'readers' %} class="btn"><i class="fas fa-book-reader" style="color:black;margin:8px 0px 0px 50px"><span style="color:black;margin-left:4px">Reader</span></i></a></li>
          
          <li class="nav-item"><a href={% url 'books' %} class="btn"><i class="fas fa-book-open" style="color:black;margin:8px 0px 0px 50px"><span style="color:black;margin-left:4px">Books</span></i></a></li>
         
          <li class="nav-item"><a href={% url 'about' %} class="btn"><i class="fas fa-address-card" style="color:black;margin:8px 0px 0px 50px"><span style="color:black;margin-left:4px">About Us</span></i></a></li>

          {% if user.is_authenticated %}
      
          <li class="nav-item"><a href={% url 'profile' username=user.username %} class="btn"><i class="fas fa-user" style="color:black;margin:8px 0px 0px 50px"><span style="color:black;margin-left:4px">Profile</span></i></a></li>

          <li class="nav-item"><a href={% url 'logout' %} class="btn btn-danger navbar-btn" style="color:black;margin:3px 15px 3px 150px">Log out</a></li>

          {% else %}
          <li class="nav-item"><a href="{% url 'login' %}" class="btn"><i class="fas fa-sign-in-alt" style="color:black;margin:8px 250px 0px 50px"><span style="color:black;margin-left:4px">sign in</span></i></a></li>
          {% endif %}
        
      </ul>  
    </div>
  </nav>




     
  <div class="container-fluid" style="background-color:#aab7b8 ; padding:12px">
    <div class="row">
      <div class="col-sm-10 col-md-5 col-lg-5"><br>
        <div class="container-fluid">
          <h3 class="text-center" style="color:"><strong>Lets read Books and create enlighten people</strong></h3><br><br>
          <p class="text" style="font-size:15px">Booksharing website makes reading easier. People with dyslexia, blindness,cerebral palsy, and other reading barriers can customize
             their experience to suit their learning style and find virtually any book they need for school, work, or the joy of reading.</p>
        </div>   
      </div>
      <div class="col-sm-10 col-md-6 col-lg-7">
        <div class="container-fluid">
          <img src="https://img.freepik.com/free-photo/international-day-education-cartoon-style-with-stack-books_23-2151007431.jpg?t=st=1702827613~exp=1702831213~hmac=d899b7adca5d8d8c1fb44db7a77deefa7ed82fe4e29772cd3753a504052dc9cf&w=740" class="img-fluid"  style="height:500px; width:100% ;"> 
        </div> 
      </div>
    </div>
  </div>

  
  <div class="container-fluid" style="background-color:#d6dbdf;padding:24px 0px 24px 0px;" >

    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="container-fluid shadow-sm" style="background-color: #d6dbdf  ">
        <h3 class="text-center" style="color:  #212f3d "><strong>List of books </strong></h3><br>
          <nav class="navbar  navbar-expand-lg " style="background-color: #666">
            <div class="search-container">
             <form method="post" action="{% url 'books' %}" enctype="multipart/form-data"> {% csrf_token %}
                <input type="text" placeholder="Search.." name="title">
                <button type="submit"><i class="fa fa-search"></i></button>
             </form>
            </div>
          </nav>

          {% if messages %}
          <div class="messages text-center">
            {% for message in messages %}
                <h4 class="">{{ message }}</h4>
            {% endfor %}
          </div>
          {% endif %}
    
        <div class="row">
          {% for book in books %}
           <div class="col-sm-12 col-md-6 col-lg-4 shadow-lg">
           <div class="container-fluid" style="background-color: #aab7b8; padding:8px;margin:4px">
              <i><h4 class="card-text"><strong>{{book.title}}</strong></h4></i>
              <h5 class="card-text">{{book.author}}</h5>
              <h5>genre: {{ book.genre }}</h5>
              <a href={% url 'profile' username=book.owner %} class="btn btn-primary" style="color:yellow;margin:3px">Owner's Profile</a>
        
              {% if user.is_authenticated and user != book.owner %}
              {% if book.availability == 2 %}
              <a href="#"><button class="text-danger">Not Available</button></a>
              {% else %}
              <a href="" onclick="showRequestForm({{book.id}});return false"><button class="text-success">available</button></a>
                      <div class="request-form d-none"  id="request-form-{{ book.id }}">
                        <form method="post" action="{% url 'book_request' book_id=book.id %}">
                          {% csrf_token %}
                          <label >Return Date:</label>
                          <input type="date" id="return-date-{{ book.id }}" name="schedule" required>
                          <button type="submit" class="btn btn-primary">Request</button>
                        </form>
                      </div>
              {% endif %}
              {% endif %}
            </div><br>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style=" background-color:#5F9EA0" >
    <div class="row">
      <div class="col-sm-10 col-md-11 col-lg-5">
        <div class="container-fluid"><br>
           <h4><strong style="color:blue">Book</strong> <strong style="color:black"> Sharing System</strong></h4>
            <h5 style="color: black ;margin:25px 0px 0px 0px">At Book Sharing System, we understand that books have the ability to transport readers to different worlds, spark imagination, and foster a love for learning. Our mission is to make this experience accessible to everyone by providing a
                 platform for users to share, borrow, and discover a diverse range of books.
            </h5>
        </div>
      </div>
      <div class="col-sm-10 col-md-11 col-lg-7">
        <div class="container-fluid">
            <br><p class="text-center" style="color: black"><strong>Contact Us</strong></p><br>

            <i class="fas fa-envelope " style="color: black;margin: 0px 0px 20px 300px"></i>
            <a href ="#" style="color: black; text-decoration:none">Email : nitaydas910@gmail.com</a><br>
           
            <i class="fas fa-phone" style="color: black;margin: 0px 0px 20px 300px"></i>
            <a href ="#" style="color: black; text-decoration:none">Phone : 01642530621</a><br>
           
             <i class="fab fa-linkedin-in" style="color: black;margin: 0px 5px 40px 300px"></i>
            <a href="#" style="color: black; text-decoration:none">Linkedin</a><br>
        </div>
      </div>
    </div>
</div>


{{ room_name|json_script:"room-name" }}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const notificationSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/notification/'
        + roomName
        + '/'
    );

    notificationSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        //document.querySelector('#chat-log').value += (data.message + '\n');
        console.log(data);
       // document.getElementById("notifications-dropdown").innerHTML = "<li class='dropdown-item'>" + data + "</li><hr class='dropdown-divider'>" + document.getElementById("notifications-dropdown").innerHTML;
        //document.getElementById("notification-badge").innerHTML = parseInt(document.getElementById("notification-badge").innerHTML) + 1; 
    };

    notificationSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };


    function showRequestForm(bookId) {
      const form = document.getElementById(`request-form-${bookId}`);
      form.classList.toggle('d-none');
  }
  

   
</script>

</body>
</html>