
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      
      table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center; 
    }

    body{
      background-color:  #d6dbdf  ;
    }

    .text-orange-300 {
      color: #fdba74; 
    }
    </style>
</head>

  <body>
  <nav class="navbar navbar-expand-lg " style="background-color:#5F9EA0;">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}"><strong class="text-white fs-1" style="margin-right:100px">Take<span class="text-orange-300">Book</span> </strong> </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="nav-item"><i><a href={% url 'profile' username=request.user.username %} class="btn " style="color:black;margin:10px 0px 0px 50px">profile</a></i></li>

          <li class="nav-item"><i><a href={% url 'booklist' username=request.user.username %} class="btn " style="color:black;margin:10px 0px 0px 50px">Booklist</a></i></li>

        
          <li class="nav-item"><i><a href={% url 'see_book_request' %} class="btn " style="color:black;margin:10px 0px 0px 50px">Book requests</a></i></li>
        
          <li class="nav-item"><i><a href={% url 'borrowing_history' %} class="btn " style="color:white;margin:10px 0px 0px 50px">Borrowing history</a></i></li>

          <li><a href={% url 'logout' %} class="btn btn-danger navbar-btn" style="color:black;margin:0px 20px 0px 100px">Log out</a></li>
        </ul> 
    </nav> 
  


      <div class="container-fluid">
        <div class-"row">
           <div class="col-md-2"></div>
           <div class="col-md-7">
             <div class="container-fluid" style="background-color: #1111">
                <h3 class="text-center"><strong>Book Request</strong></h3><br>
                <ul>
                <table>
                    <tr >
                       <th>Book Name</th><th> Owner </th>
                       <th>Request date</th><th>Returning date</th>
                       <th colspan="2">Status</th>
                    </tr>
                   {% for borrow in borrows %}
                    <tr>
                        <td>{{ borrow.book.title }}</td><td>{{ borrow.receiver }}</td>
                        <td>{{ borrow.request_date }}</td><td>{{ borrow.schedule }}</td>

                        {% if borrow.book.availability == 1 %}
                        <td><a class="btn btn-warning">Pending</a></td>
                        
                        {% elif borrow.book.availability == 2 %}
                        <td colspan="2"><button class="btn-success">Borrowed</button></td>

                        {% comment %} {% elif request.book.availability == 0 %}
                        <td colspan="2"><button class="btn-danger">rejected</button></td> {% endcomment %}
                        {% endif %}
                    </tr> 
                    {% endfor %}
                </table>
                </ul>
              </div>
           </div>
        </div>
    </div>  

</body>
</html>
