<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>login the website</title>
</head>
<body>
	 
<div class="container-fluid " style="margin-top:32px">
	<div class="row">
	    <div class="col-md-4">
	    </div>
	    <div class="col-md-5">
	     <div class="container-fluid" >
		   <h4>Successfully set up your password</h4><br>
		   <button class="btn btn-primary"><a href={% url 'login' %} style="color:white">login</a></button>
		   </div>
	     </div>
	   </div>
	</div>
</body>
</html>